<!-- .container>.grid.grid-cols-2>div*2 -->

<div class="container">
  <div class="grid grid-cols-2">
    <div>
      <app-playlist-list
        [items]="playlists"
        [selectedId]="selected.id"
        (selectedIdChange)="selectPlaylistById($event)"
      />
    </div>

    <div>
      @switch (mode) {
        @case ("editor") {
          <app-playlist-editor
            [playlist]="selected"
            (cancel)="showDetails()"
            (save)="savePlaylist($event)"
          />
        }
        @default {
          <app-playlist-details [playlist]="selected" (edit)="showEditor()" />
        }
      }
    </div>
  </div>
</div>
