<!-- .container>.grid.grid-cols-2>div*2 -->

<div class="container">
  <div class="grid grid-cols-2">
    <div>
      <app-playlist-list
        [items]="playlists"
        (selectedIdChange)="selectPlaylistById($event)"
      />

      <input
        type="text"
        [value]="playlists[0].name"
        (keyup)="playlists[0].name = $any($event.target).value"
      />
    </div>

    <div>
      @switch (mode) {
        @case ("editor") {
          <app-playlist-editor />
        }
        @default {
          <app-playlist-details [playlist]="selected" />
        }
      }

      <button (click)="showDetails()">Details</button>
      <button (click)="showEditor()">Edit</button>
    </div>
  </div>
</div>
