<mat-card>
    <img
      class="w-100"
      mat-card-image
      src="http://placekitten.com/300/300"
      alt="Photo of a Shiba Inu"
      width="300"
      height="300"
      />
      <!-- fill -->
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
      <mat-card-subtitle>Album name</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content> -->
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>