<form (ngSubmit)="submit()" [formGroup]="searchForm">
  <div class="relative">
    <mat-form-field class="mb-3 w-full" #fieldRef>
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="query" />
    </mat-form-field>

    <div class="absolute right-5 top-6">
      <button mat-fab type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div formGroupName="advanced">
    <div formArrayName="markets">
      @for (item of markets.controls; track $index) {
        <div [formGroupName]="$index">
          <input type="text" formControlName="code" />
        </div>
      }
    </div>
    <button (click)="addMarket()">Add Market</button>
  </div>
  <pre>{{ searchForm.value | json }}</pre>
</form>
