<pre>{{ playlist | json }}</pre>
<pre>{{ formRef.value | json }}</pre>

<form #formRef="ngForm" class="flex flex-col gap-4 pr-3" (ngSubmit)="submit()">
  <div>
    <label for="">Name</label>
    <input
      type="text"
      class="w-full"
      #playlistNameRef
      #nameModelRef="ngModel"
      [ngModel]="playlist.name"
      name="name"
      required
      minlength="3"
      pattern="[A-Z].*"
    />
    <pre>{{ nameModelRef.errors | json }}</pre>

    @if (nameModelRef.dirty || nameModelRef.touched || formRef.submitted) {
      @if (nameModelRef.hasError("required")) {
        <div class="text-red-500">Field required</div>
      }
      @if (nameModelRef.getError("minlength"); as error) {
        <div class="text-red-500">
          Name length minimum {{ error.requiredLength }}
        </div>
      }
      @if (nameModelRef.hasError("pattern")) {
        <div class="text-red-500">Must be titlecase</div>
      }
    }

    <span class="float-end">{{ nameModelRef.value?.length }} / 100</span>
  </div>

  <div>
    <label
      >Public<input type="checkbox" [ngModel]="playlist.public" name="public" />
    </label>
  </div>

  <!-- Error: NG01203: No value accessor for form control unspecified name attribute. Find more at https://angular.io/errors/NG01203 -->
  <div
    contenteditable="true"
    [ngModel]="playlist.description"
    name="description"
  >
    Ala ma kota
  </div>

  <div>
    <label for="">Description</label>
    <textarea
      class="w-full"
      [ngModel]="playlist.description"
      name="description"
    ></textarea>
  </div>

  <div class="flex content-between">
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="cancel.emit()"
    >
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
