<pre>{{ playlist | json }}</pre>

<div class="flex flex-col gap-4 pr-3">
  <div>
    <label for="">Name</label>
    <input
      type="text"
      class="w-full"
      
      #playlistNameRef
      
      #nameModelRef="ngModel"

      [ngModel]="playlist.name"
    />

    <span class="float-end">{{ nameModelRef.value?.length }} / 100</span>
  </div>

  <div>
    <label for=""
      >Public
      <input type="checkbox" [ngModel]="playlist.public" />
    </label>
  </div>

  <!-- Error: NG01203: No value accessor for form control unspecified name attribute. Find more at https://angular.io/errors/NG01203 -->
  <div contenteditable="true" [ngModel]="playlist.description">
    Ala ma kota
  </div>

  <div>
    <label for="">Description</label>
    <textarea class="w-full" [ngModel]="playlist.description"></textarea>
  </div>

  <div class="flex content-between">
    <button mat-raised-button color="warn" (click)="cancel.emit()">
      Cancel
    </button>
    <button mat-raised-button color="primary" (click)="submit()">Save</button>
  </div>
</div>
