<pre>{{ playlist | json }}</pre>

<div class="flex flex-col gap-4 pr-3">
  <div>
    <label for="">Name</label>
    <input
      type="text"
      class="w-full"
      #playlistNameRef
      [value]="playlist.name" (input)="playlist.name = $any($event.target).value"
    />

    <span class="float-end">{{ playlist.name.length }} / 100</span>
    <span class="float-end">{{ playlistNameRef.value.length }} / 100</span>
  </div>

  <div>
    <label for=""
      >Public
      <input type="checkbox" [checked]="playlist.public" (click)="(0)" />
    </label>
  </div>

  <div>
    <label for="">Description</label>
    <textarea class="w-full" [value]="playlist.description"></textarea>
  </div>
</div>
