<mat-list>

  <mat-list-item lines="2">
    <span matListItemTitle>Name</span>
    <span>Best Playlist</span>
  </mat-list-item>

  <mat-list-item lines="2">
    <span matListItemTitle>Public</span>
    <span>Yes</span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle>Description</span>
    <span>
      Secondary line that will wrap because the list lines is explicitly set to
      3 lines. Text inside of a `matListItemTitle` or `matListItemLine` will
      never wrap.
    </span>
  </mat-list-item>

</mat-list>
