<div
  id="playlist_{{ playlist.id }}"
  [title]="playlist.name"
  [attr.data-playlist-id]="123"
>
  <mat-list>
    <mat-list-item lines="2">
      <span matListItemTitle i18n>Name</span>
      <span>{{ playlist.name }}</span>
    </mat-list-item>

    <mat-list-item lines="2">
      <span matListItemTitle i18n>Public</span>

      <span
        [class.isPublic]="playlist.public"
        [class.isPrivate]="!playlist.public"
        >{{ playlist.public | yesno }}
      </span>
    </mat-list-item>

    <mat-list-item lines="3">
      <span matListItemTitle i18n>Description</span>
      <span>
        {{ playlist.description }}
      </span>
    </mat-list-item>
  </mat-list>

  <img src="image.jpg" width="1" height="1" alt="playlist image" i18n-alt />

  <button mat-raised-button color="primary" (click)="edit.emit()">Edit</button>
</div>
