<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="placki mdc-list-item--activated"
        [activated]="rla.isActive"
        #rla="routerLinkActive"
        routerLink="/playlists"
        >Playlists</a
      >
      <a
        mat-list-item
        routerLinkActive="placki mdc-list-item--activated"
        routerLink="/music/search"
        >Search</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="flex items-center w-full justify-between">
        @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <span>jsystems-rossmann-angular</span>

        <div class="w-full"></div>

        <ng-content select="toolbar"></ng-content>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="container py-2">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
